.grid{
    margin: auto;
    width: 460px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 150px;
    height: 150px;
    border: solid black 1px;
}

.mole{
    background-image: url('paulita2_.jpg');
}

h2{margin: auto;
text-align: center;
font-family: 'Roboto Condensed', sans-serif;;}
